/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */
:root {
  --verse-card-color: #4660bc;
  --highlight-color: #566dc1;

  --highlight-compare-color: #566dc1;

  
    /* gradients */
    --gradient-blue-very-dark: #858ea3;
    --gradient-blue-dark: #818ca2;
    --gradient-blue: #8093be;
    --gradient-blue-light: #6a7ead;
    --gradient-blue-lighter: #849fe6;

    --gradient-yellow-very-dark: #b0ae9c;
    --gradient-yellow-dark: #bcb88d;
    --gradient-yellow: #abaa71;
    --gradient-yellow-light: #9c9c5d;
    --gradient-yellow-lighter: #cfc45c;

    --gradient-red-very-dark: #9b8585;
    --gradient-red-dark: #956969;
    --gradient-red: #986363;
    --gradient-red-light: #9a5656;
    --gradient-red-lighter: #e35454;

    --gradient-green-very-dark: #859e8c;
    --gradient-green-dark: #769d74;
    --gradient-green: #5f935f;
    --gradient-green-light: #4b945c;
    --gradient-green-lighter: #47b347;

    --gemini-card-text-color: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --verse-card-color: #141c36;
    --highlight-color: #263054;
    --highlight-compare-color: #263054;

    /* gradients */
    --gradient-blue-very-dark: #131825;
    --gradient-blue-dark: #141c2e;
    --gradient-blue: #121b30;
    --gradient-blue-light: #17223b;
    --gradient-blue-lighter: #1a2748;
  
    --gradient-yellow-very-dark: #15140d;
    --gradient-yellow-dark: #1f1e11;
    --gradient-yellow: #2a2a11;
    --gradient-yellow-light: #373415;
    --gradient-yellow-lighter: #3a391b;

    --gradient-red-very-dark: #150d0d;
    --gradient-red-dark: #1f1111;
    --gradient-red: #2a1111;
    --gradient-red-light: #371515;
    --gradient-red-lighter: #3a1b1b;
  
    --gradient-green-very-dark: #0e1610;
    --gradient-green-dark: #121f11;
    --gradient-green: #112a11;
    --gradient-green-light: #15371d;
    --gradient-green-lighter: #1b3a1b;

    --gemini-card-text-color: #ffffff;
  }
}