.selector-bar {
    margin: 15px;
}

.item-selector-button {
    margin: 2px 10px 2px 10px;
    padding: 4px;
    border-radius: 5px;
    background-color: var(--highlight-color);
    border: 1px solid rgb(194, 193, 193);
    color: white;
}

.item-selector-button:hover {
    border: 1px solid white;
}
.item-selector-button-selected {
    border: 1px solid white;
}

.custom-popover {
    overflow-y: auto;
}

.selector-button {
    background-color: var(--verse-card-color);
    border-radius: 15px;
    color: white;
    border: 1px solid rgb(212, 212, 212);
}

.search-word {
    margin-left: 5px;
    color: white;
}

.verse-card {
    background-color: var(--verse-card-color);
}

.search-icon {
    color: white;
}

.inner-verse-card {
    margin: 5px 0px 5px 0px;
    background-color: var(--highlight-color);
    border: 1px solid #7f98cc;
    color: white;
}

.selector-translation-button {
    margin: 1px;
    font-size: 18px;
    border: 1px solid #7f98cc;
    border-radius: 3px;
    background-color: var(--highlight-color);
    color: white;
    text-decoration: underline;
}

.compare-to {
    background-color: #192641;
}
.compare-to-text {
    text-align: center;
    font-size: 18px;
  }

.gemini-word {
    background: linear-gradient(to right, #4285f4, 0, #9b72cb 9%, #4285f4 44%, #d96570 20%, #d96570 24%, #9b72cb 35%, #9b72cb 50%, #d96570 56%);
    /* background: -webkit-linear-gradient(16deg, #4285f4, 0, #9b72cb 9%, #d96570 20%, #d96570 24%, #9b72cb 35%, #4285f4 44%, #9b72cb 50%, #d96570 56%, #131314 75%, #131314 100%) !important; */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gemini-footprint {
    font-size: 16px;
    margin-left: 10px;
    bottom: 0;
    position: fixed;
    margin-bottom: 5px;
}

.compare-button {
    background: linear-gradient(to right, #9b72cb, #d96570, #4285f4) !important;
    background-color: #141a27 !important;
    border: 2px solid white !important;
    border-radius: 4px;
    color: white;
}

.compared-button {
    background: linear-gradient(to right, #9b72cb, #d96570, #4285f4) !important;
    background-color: #141a27 !important;
    border: 2px solid white !important;
    border-radius: 4px;
    color: white;
    padding: 10px 15px;

}


.footer {
    position: fixed;
    bottom: 0;
    right: 0 !important;
    margin: 10px;
    z-index: 3;
}

.main-res {
    background: linear-gradient(to right, var(--gradient-blue-very-dark), var(--gradient-blue-dark), var(--gradient-blue-dark), var(--gradient-blue-dark), var(--gradient-blue-dark), var(--gradient-blue), var(--gradient-blue-light), var(--gradient-blue-lighter))!important;
    border-radius: 15px;
    border: 1px solid #4285f4; 
    color: var(--gemini-card-text-color);
}
.cross-reference {
    background: linear-gradient(to right, var(--gradient-red-very-dark), var(--gradient-red-dark), var(--gradient-red-dark), var(--gradient-red-dark), var(--gradient-red-dark), var(--gradient-red), var(--gradient-red-light), var(--gradient-red-lighter))!important;
    border-radius: 20px;
    border: 1px solid #f45a42; 
    color: var(--gemini-card-text-color);
}
.fun-fact {
    background: linear-gradient(to right, var(--gradient-green-very-dark), var(--gradient-green-dark), var(--gradient-green-dark), var(--gradient-green-dark), var(--gradient-green-dark), var(--gradient-green), var(--gradient-green-light), var(--gradient-green-lighter))!important;
    border-radius: 20px;
    border: 1px solid #6cb863; 
    color: var(--gemini-card-text-color);
}
.history {
    background: linear-gradient(to right, var(--gradient-yellow-very-dark), var(--gradient-yellow-dark), var(--gradient-yellow-dark), var(--gradient-yellow-dark), var(--gradient-yellow-dark), var(--gradient-yellow), var(--gradient-yellow-light), var(--gradient-yellow-lighter))!important;
    border-radius: 20px;
    border: 1px solid #deb441; 
    color: var(--gemini-card-text-color);
}
.gemini-card-header {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 800;
}