.selector-bar {
    /* background-color: #2C4A86; */
    border-radius: 15px;
    margin: 15px;
}

.item-selector-button {
    margin: 2px;
    padding: 4px;
    border-radius: 5px;
    background-color: #192641;
    border: 1px solid #192641;
}

.item-selector-button:hover {
    border: 1px solid white;
}
.item-selector-button-selected {
    border: 1px solid white;
}

.custom-popover {
    /* max-height: 550px; */
    /* Adjust the max-height as needed */
    overflow-y: auto;
}

.selector-button {
    background-color: #192641;
    border-radius: 15px;
}
.search-word {
    margin-left: 5px;
}

.verse-card {
    background-color: #192641;
}

.inner-verse-card {
    margin: 5px 0px 5px 0px;
    background-color: #141a27;
    border: 1px solid #7f98cc;
}

.selector-translation-button {
    margin: 1px;
    font-size: 18px;
    border: 1px solid #7f98cc;
    border-radius: 3px;
    background-color: #141a27;
}

.compare-to {
    background-color: #192641;
}
.compare-to-text {
    text-align: center;
    font-size: 18px;
  }