body {
  background-color: #192A4C!important;
  color: white!important;
}

.dropdown-menu {
  max-height: 380px;
  overflow-y: scroll;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #203561; /* Example color */
  padding: 10px;
  text-align: center;
}

.selector-button-text {
  font-size: 36px;
}
.selector-button {
  background-color: #2C4A86;
  margin: 15px;
  padding: 5px 10px 10px 10px;
  border-radius: 25px;
}
.selector-button:hover {
  background-color: #395ca3;
  cursor: pointer;
}

.selection-card {
  background-color: #203561!important;
}
.compare-card {
  background-color: #203561!important;
  
}
.verse-card {
  background-color: #395ca3!important;
  color: white!important;
  text-align: center;
}
.model-color {
  background-color: #192A4C!important;
}
.dropdown-color {
  background-color: #395ca3!important;
  border: 2px solid white!important;
}

.dropdown-content-color {
  background-color: #395ca3!important;
  border: 2px solid white!important;
}
.dropdown-content-color a {
  color: white!important;
}
.dropdown-content-color a:hover {
  background-color: #192A4C;
}
.selector-inbetween {
  text-align: center;
  font-size: 26px!important;
}
.full-passage {
  text-align: center;
  color: white!important;
  font-size: 26px;
  margin: 15px;
}
.ai-res {
  color: white!important;
}
.powered-by {
  font-size: 26px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;

}
.gemini-word {
  background: linear-gradient(to right, #4285f4, 0, #9b72cb 9%, #4285f4 44%, #d96570 20%, #d96570 24%, #9b72cb 35%,  #9b72cb 50%, #d96570 56%);

  /* background: -webkit-linear-gradient(16deg, #4285f4, 0, #9b72cb 9%, #d96570 20%, #d96570 24%, #9b72cb 35%, #4285f4 44%, #9b72cb 50%, #d96570 56%, #131314 75%, #131314 100%) !important; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 34px;
}

.compare-button {
  background-color: #203561!important;
  border: 2px solid white!important;
}
.compare-button:hover {
  background: linear-gradient(to right, #4285f4, 3%, #9b72cb 9%, #4285f4 15%, #d96570 20%, #d96570 24%, #9b72cb 35%,  #9b72cb 50%, #d96570 56%)!important;
  /* -webkit-background-clip: text; */
}

@media (max-width: 768px) {
  .compare-card {
    margin-top: 15px;
    
  }
}